* {
  user-select: none;
}
.nav {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #5b4099, #e479b2);
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .box {
  width: 220px;
  height: 100vh;
  background-color: #be04a7;
  display: inline-block;
  position: absolute;
  transition: all 0.5s ease-in-out;
  top: 0;
  left: -220px;
}
.nav .box .headSculpture {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}
.nav .box .headSculpture .green_cycle {
  width: 140px;
  height: 140px;
  position: relative;
  transform: translateY(-150px);
  transition: all 1s ease-in-out;
}
.nav .box .headSculpture .green_cycle .green_cycle_img {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotates 1s linear infinite;
}
.nav .box .headSculpture .green_cycle .yellow_cycle {
  width: 120px;
  height: 120px;
}
.nav .box .headSculpture .green_cycle .yellow_cycle .yellow_cycle_img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotates 2s linear reverse infinite;
}
.nav .box .headSculpture .green_cycle .yellow_cycle .blue_cycle {
  width: 100px;
  height: 100px;
}
.nav .box .headSculpture .green_cycle .yellow_cycle .blue_cycle .blue_cycle_img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotates 2s linear infinite;
}
.nav .box .headSculpture .green_cycle .yellow_cycle .blue_cycle .head_img_div {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav .box .headSculpture .green_cycle .yellow_cycle .blue_cycle .head_img_div .head_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nav .box .headSculpture p {
  display: block;
  width: 180px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  background-color: #ffc0cb;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: bold;
  transform: translateX(300px);
  transition: all 1s ease-in-out;
}
.nav .box .option {
  margin-top: 20px;
}
.nav .box .option ul {
  width: 100%;
  overflow: hidden;
}
.nav .box .option ul li {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  transition: all 1s ease-in-out;
}
.nav .box .option ul li a {
  color: #d0d1d7;
}
.nav .box .option ul li a i {
  margin: 0 30px;
}
.nav .box .option ul li:nth-of-type(odd) {
  transform: translateX(220px);
}
.nav .box .option ul li:nth-of-type(even) {
  transform: translateX(-220px);
}
.nav .box .option ul li::before {
  background-color: #ffc0cb;
}
.nav .box .option ul li:hover::before {
  background-color: #ffc0cb;
}
.nav .box .cat {
  width: 60px;
  height: 60px;
  border: 0;
  color: #be04a7;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 9999;
  top: 0;
  right: -60px;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease-in-out;
  transform: rotate(0deg);
}
.nav .demo {
  width: 65%;
  height: 500px;
  position: absolute;
  transition: all 0.5s ease-out;
  overflow: hidden;
}
.nav .demo ul {
  width: 103%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}
.nav .demo ul .works {
  width: 200px;
  height: 220px;
  background-color: pink;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 20px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav .demo ul .works a {
  display: block;
  width: 100%;
  height: 100%;
}
.nav .demo ul .works a .title {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e479b2;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-out;
}
.nav .demo ul .works:hover a .title {
  bottom: 0;
}
.nav .hot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav .hot .header {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
  position: absolute;
  z-index: 999;
}
.nav .hot .header.activeheader {
  opacity: 0;
}
.nav .hot .header .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .hot .header .logo i {
  color: #fff;
  font-size: 24px;
}
.nav .hot .header .content {
  width: 100%;
  border-color: #Fff;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  position: relative;
  margin-top: 30px;
}
.nav .hot .header .content .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6em 2em;
  transition: 0.25s all ease-out;
  animation: max-height 1s;
  position: relative;
}
.nav .hot .header .content .inner h1 {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  color: #fff;
  animation: op 3s;
}
.nav .hot .header .content .inner p {
  position: absolute;
  top: 60%;
  color: #fff;
  animation: op 3s;
}
.nav .hot .header .content::before {
  content: "";
  position: absolute;
  display: block;
  left: calc(50% - 1px);
  top: calc(-30px - 1px);
  width: 1px;
  height: 30px;
  background-color: #fff;
}
.nav .hot .header .footer {
  margin-top: 35px;
  position: relative;
}
.nav .hot .header .footer ul {
  width: 100%;
  overflow-y: hidden;
  border: 1px solid #fff;
}
.nav .hot .header .footer ul li {
  width: 80px;
  font-size: 12px;
  padding: 1em;
  color: #fff;
  text-align: center;
  border-right-style: solid;
  border-right-color: #fff;
  border-right-width: 1px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.nav .hot .header .footer ul li:nth-of-type(4) {
  border: 0;
}
.nav .hot .header .footer ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.nav .hot .header .footer:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: calc(-35px - 1px);
  left: calc(50% - 1px);
}
.nav .hot .main {
  width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: -1;
}
.nav .hot .main.activemain {
  opacity: 1;
  z-index: 999;
}
.nav .hot .main .intro,
.nav .hot .main .work,
.nav .hot .main .about,
.nav .hot .main .contact {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s ease;
}
.nav .hot .main .intro.activeli,
.nav .hot .main .work.activeli,
.nav .hot .main .about.activeli,
.nav .hot .main .contact.activeli {
  opacity: 1;
  z-index: 999;
}
.nav .hot .main .intro .intro-top,
.nav .hot .main .work .intro-top,
.nav .hot .main .about .intro-top,
.nav .hot .main .contact .intro-top {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.nav .hot .main .intro .intro-top h1,
.nav .hot .main .work .intro-top h1,
.nav .hot .main .about .intro-top h1,
.nav .hot .main .contact .intro-top h1 {
  height: 100%;
  display: block;
  font-size: 24px;
  color: #fff;
  border-bottom: 2px solid #Fff;
  margin-left: 20px;
  user-select: none;
}
.nav .hot .main .intro .intro-top i,
.nav .hot .main .work .intro-top i,
.nav .hot .main .about .intro-top i,
.nav .hot .main .contact .intro-top i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.nav .hot .main .intro .intro-center,
.nav .hot .main .work .intro-center,
.nav .hot .main .about .intro-center,
.nav .hot .main .contact .intro-center {
  width: 85%;
  height: 180px;
  background-color: pink;
  opacity: 0.5;
  border-radius: 20px;
  margin-top: 20px;
  user-select: none;
}
.nav .hot .main .intro .intro-footer,
.nav .hot .main .work .intro-footer,
.nav .hot .main .about .intro-footer,
.nav .hot .main .contact .intro-footer {
  width: 90%;
  height: 100%;
  margin-top: 20px;
  color: #fff;
  user-select: none;
}
.nav.open {
  left: 220px;
}
.nav.open .box .headSculpture img {
  transition: all 0.5s ease-in-out;
}
.nav.open .box .headSculpture p {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.nav.open .box .option ul li {
  transition: all 0.5s ease-in-out;
}
.nav.open .box .cat {
  transform: rotate(450deg);
  transition: all 0.5s ease-in-out;
}
.nav.open .demo {
  margin-right: 180px;
}
@keyframes max-height {
  0% {
    height: 0;
    padding: 0;
  }
  100% {
    height: inherit;
    padding: 6em 2em;
  }
}
@keyframes op {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotates {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*# sourceMappingURL=./index.css.map */