body {
  height: 100vh;
  overflow: hidden;
  /* 背景颜色 */
  background: linear-gradient(#141e30, #243b55);
}

a {
  /* 相对定位 */
  position: relative;
  /* 行内块元素 */
  display: inline-block;
  /* 距离上下左右300PX */
  margin: 300px;
  color: #03e9f4;
  font-size: 16px;
  /* 字符间距加大 */
  letter-spacing: 4px;
  /* 转为大写 */
  text-transform: uppercase;
  /* 去掉a 的下划线 */
  text-decoration: none;
  /* 超出边的隐藏 */
  overflow: hidden;
  /* 增加内边距 */
  padding: 10px;
}

a span {
  /* 绝对定位 */
  position: absolute;
  /* 块状元素 */
  display: block;
}

/* 第一根线  上侧  从左至右 */
a span:nth-child(1) {

  width: 100%;
  height: 2px;
  /* 背景颜色 */
  background: linear-gradient(90deg, transparent, #03e9f4);
  left: -100%;
  top: 0;
  /* 动画  执行时间1s，匀速，无限次  */
  animation: an-1 1s linear infinite;

}

@keyframes an-1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

/* 第三根线  下侧  从右至左 */
a span:nth-child(3) {

  width: 100%;
  height: 2px;
  /* 背景颜色 */
  background: linear-gradient(270deg, transparent, #03e9f4);
  right: -100%;
  bottom: 0;
  /* 动画  执行时间1s，匀速，无限次  */
  animation: an-3 1s linear infinite;

  /* 延迟 */
  animation-delay: .5s;
}

@keyframes an-3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

/* 第二根线  右侧，从上至下 */
a span:nth-child(2) {
  height: 100%;
  width: 2px;
  /* 背景颜色 */
  background: linear-gradient(180deg, transparent, #03e9f4);
  right: 0;
  top: -100%;
  /* 动画 */
  animation: an-2 1s linear infinite;
  /* 延迟 */
  animation-delay: .25s;
}

@keyframes an-2 {
  0% {
    top: -100%
  }

  50%,
  100% {
    top: 100%
  }
}


/* 第四根线  左侧，从下至上 */
a span:nth-child(4) {
  height: 100%;
  width: 2px;
  /* 背景颜色 */
  background: linear-gradient(360deg, transparent, #03e9f4);
  left: 0;
  bottom: -100%;
  /* 动画 */
  animation: an-4 1s linear infinite;
  /* 延迟  */
  animation-delay: .75s;
}

@keyframes an-4 {
  0% {
    bottom: -100%
  }

  50%,
  100% {
    bottom: 100%
  }
}